:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;

    }
}
.boton:hover {
    cursor: pointer;
}
.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--primario);
}

/** Header **/

.header {
    background-image: url(../img/banner1.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.header::after {
    content: '';
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.header__texto {
    position: relative;
    z-index: 999;
   text-align: center;
   color: var(--blanco);
   margin-top: 5rem;
}

.header__texto p {
    width: 90%;
    margin: 0 auto;
}

.barra {
    position: relative;
    z-index: 999;
    padding-top: 4rem;
}

.logo {
    color: var(--blanco);
    
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }

    .header__texto {
        margin-top: 15rem;
    }

    .header__texto p{
       width: 40%;
    }

    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

.titulos {
    color: var(--blanco);
}

/** Portfolio**/

.contenedor-portafolio{
    margin: 10rem auto;
}
.contenido-portafolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
    border-bottom: 1px solid;
}


.contenido-portafolio:last-of-type {
    border-bottom: none;
}


@media (min-width: 768px){
    .contenido-portafolio {
        flex-direction: row;
    }
    .texto-portafolio {
        padding: 0 10rem;
    }
    .contenido-portafolio:nth-child(2) .img-portafolio {
        order: -1;
    }
}

/** Nosotros **/

.contenedor-nosotros{
    margin: 10rem auto;
}

.contenido-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-nosotros .img-contenido{
    margin-bottom: 5rem;
}


@media (min-width: 768px) {
    .contenido-nosotros {
        flex-direction: row;
    }

    .contenido-nosotros .img-contenido{
        flex: 0 0 calc(40% - 0px);
    }
    
    .contenido-nosotros .contenido-texto {
        flex: 0 0 calc(60% - 0px);
    }
}
/*BANNER*/
.banner{
    width: 100%;
    height: 20vh;
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** testimoniales ***/
.contenedor-testimonios {
    margin: 10rem auto;
    
    display: flex;
    align-items: center;
}


.testimoniales {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-testimoniales {
    order: -1;
}

.img-testimoniales img {
    height: auto;
}

.carousel-item {
   
}

#color-btn {
    background-color: var(--negro);
}

@media (min-width: 768px){
    .testimoniales {
        flex-direction: row;
    }
    .img-testimoniales {
        order: 1;
    }
    
    .img-testimoniales img {
        height: 100%;
    }
    
    .carousel-item {
        height: unset;
    }
}
/** Footer **/
.footer {
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}


/** Contacto **/

.error {
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}

.enviado {
    background-color: rgb(74, 185, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}
.contacto-bg {
    background-image: url(../img/contacto2.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}
.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea {
    height: 20rem;
}

.formulario {
    width: 100%;
    margin: 0 auto;
}


.contenedor-2 {
    max-width: 1200px;
    margin: 3rem auto;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    --webkit-box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.74);
    box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.74);
    
}

/**Servicios**/ 

.container-servicio {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .container-servicio {
        display: flex;
        justify-content: space-between;
    }

    .servicio {
        flex: 0 0 calc(33.33% - 1rem);

    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    padding: 20px;
}

.iconos {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--colorPrimario);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    font-size: 3rem;
}

.iconos {
    color: var(--colorHover);